<!--% form_for :dump, :url=>{:controller=>"employees", :action=>"csv_import"}, :html => { :multipart => true } do |f| -%-->
<h3>Bulk Import using CSV</h3>

<%= semantic_form_for  :f, :action=>"csv_import", :html => { :multipart => true } do |f|  %>
   <label for="dump_file">  Select a CSV File :    </label>
   <%= f.file_field :file %>
   <%= submit_tag 'Submit' %>
<% end %>