  <div class="art-footer">
        <div class="art-footer-t"></div>
        <div class="art-footer-body">
            <div class="art-footer-center">
                <div class="art-footer-wrapper">
                    <div class="art-footer-text">

                      <table width="100%" cellspacing="1" cellpadding="0" border="0"><tbody>
                      <tr>
                        <td nowrap="nowrap"><a class="mainlevel" href="/">home</a><span class="mainlevel">  | </span>
                          <a class="mainlevel" href="/info/search">Search records</a><span class="mainlevel">  | </span>
                          <a class="mainlevel" href="/employees/new">Report employee</a><span class="mainlevel">  | </span>
                          <a class="mainlevel" href="/info/faq">FAQs</a><span class="mainlevel">  | </span>
                          <a class="mainlevel" href="/info/support">Support</a><span class="mainlevel">  | </span>
                          <a class="mainlevel" href="/info/terms">Terms n conditions</a><span class="mainlevel">  | </span>
                          <a class="mainlevel" href="/info/privacy">Privacy</a><span class="mainlevel">  | </span>
                          <a class="mainlevel" href="/info/contact">Contact</a><span class="mainlevel">  | </span>
                          <a class="mainlevel" href="/info/about">About us</a>
                        </td>
                      </tr>
                      </table>
<br/>
                        <p>Copyright © 2012. All Rights Reserved. widewindow.com</p>

<p>Designed and Developed by <a href="http://www.haatopia.com">www.haatopia.com</a></p>

                        <div class="cleared"></div>
                        <p class="art-page-footer"></p>
                    </div>
                </div>
            </div>
            <div class="cleared"></div>
        </div>
    </div>