<div class="art-post">
         <div style="font-size: 21px;">Resource that helps Employer</div>
              <ul>
                <li >
                  Platform for Organizations from various Industries to share the ECR in order to avoid fraudulent hires.</li>
                <li >
                  Online Record of Ex employees of the company</li>
                <li >
                  Online attrition analysis of the origination</li>
                <li >
                  Industry Comparative Exit Analysis &ndash; Industry Trend</li>
                <li >
                  Discipline in the exit process and F&amp;F</li>
                <li >
                  Employees will serve proper notice period and not run away</li>
                <li >
                  Knowledge of Industrial Relations of the employee (Disciplinary/Conciliation/court matters)</li>
              </ul>
              <p>
                <a href="#">Read more about the system</a></p>
          </div>