<div class="section">
  <h3>Search Employee by PAN</h3>
    <div class="section_contents">
      <form method="get" id="search_by_pan" class="filter_form" action="/admin/search_employee" accept-charset="UTF-8">
        <div class="filter_form_field filter_string">
          <label for="search" class=" label">PAN : </label>   <input type="text" name="pancard" id="pancard" />
          <br/>
          <!--label for="search" class=" label">Date Of Birth : </label>   <input type="text" name="date_of_birth" id="date_of_birth" />     <br/-->
          <input type="submit" value="Search" name="commit" id="q_submit" />
        </div>
      </form>
    </div>
</div>

<div class="section">
  <h3>Search Employee by Mark sheet</h3>
  <div class="section_contents">
    <form method="get" id="search_by_marksheet" class="filter_form" action="/admin/search_employee" accept-charset="UTF-8">
      <div class="search_form_field search_string">
        <label for="search" class="th">SSC  Mark sheet :</label> <input type="text" name="ssc_marksheet_code" id="ssc_marksheet_code" maxlength="10" /><br/>
        <label for="search" class="th">SSC  Passing Year :</label><%=select :metric_passing_year ,nil, (1901..Time.now.year).to_a%>
        <% @boards = Board.all %>
        <br/>
        <label for="search" class="th">SSC  Board :</label> <%=collection_select  "board",nil, @boards, :id, :name, {:prompt => true} %>

        <!--input type="text" name="metric_passing_year" id="metric_passing_year" maxlength="4" /-->
        <!--%= collection_select ('ssc_year','', :collection => Range.new(1901, 2012) )  %-->

        <br/>
        <!--label for="search" class=" label">Date Of Birth : </label>   <input type="text" name="date_of_birth" id="date_of_birth" />     <br/-->
        <input type="submit" value="Search" name="commit" id="q_submit_marksheet" />
      </div>
    </form>
  </div>
</div>




