<div class="login-section">

<table width="100%" border="0">
  <tr>
    <td width="70%" valign="middle">
      <p>
        Thank you for your time, hope you liked
what you saw here, helping me reach you
will ensure I have a direct feedback from you
for any request or change
      </p>
      <br/>
      <p>For all your queries, please feel free to write to us.
      <br/>We will try to reach you as soon as possible to resolve the query.
      </p>
      <br/><br/>
      <h2>Enquiry</h2>
    </td>
    <td width="30%"  valign="top" class="register">

      <%= render 'form' %>

    </td>
  </tr>
</table>
</div>
