<div class="art-layout-cell art-content" style="height: auto;">

  <div class="item-page"><div class="art-post">
    <div class="art-post-body">
      <div class="art-post-inner">
        <div class="art-postcontent">
          <div class="art-article"><table border="0" cellpadding="1" cellspacing="1" style="width: 100%;">
            <tbody>
            <tr>
              <td style="width: 60%; padding-right:15px;">
                <h3>
                  Bringing confidence to the recruitment process</h3>
                <p style="text-align: justify;">
                  Every organization strives to recruit a good resource, investing both time &amp; money, to enhance their productivity. Many a times, candidates with questionable employment history are hired &amp; the employer realizes the error in judgment only after the candidate is already on board, mostly, after damaged is being done. The need of the hour then, is an employment credential history which can be accessed before the hiring happens.</p>
              </td>
              <td style="vertical-align: top;">
                <p style="font-size: 16px;">
                  &nbsp;</p>
                <p style="font-size: 16px;">
                  <strong>Would you like to start using this system?</strong></p>
                <p style="font-size: 16px; text-align: center;">
                  <a href="/info/contact"><span class="art-button-wrapper"><span class="art-button-l"> </span><span class="art-button-r"> </span><input class="art-button" name="Enquire for an account" type="button" value="Enquire for an account" style="zoom: 1;"></span></a></p>
              </td>
            </tr>
            <tr>
              <td colspan="2" style="text-align: justify;">
                <p>
                  Wide Window brings to you, <strong>Employment Credential Report (ECR)</strong> to fulfill this very need.<br>
                  ECR is a platform where organizations from various industries are coming together and maintain the record of their exit employees online. By maintaining the online record employers can review the potential incumbent’s employment credentials online and can decide to go ahead with their candidature or not.</p>
                <p>
                  This tool also provides employer to view the records of their ex-employees. In short, it’s a database tool for the organization.<br>
                  Information stored in the system is highly confidential and no one apart from the members of the ECR system is allowed to view or use the database.</p>
                <p>
                  <strong>Advantages:</strong></p>
                <ul>
                  <li>
                    Platform for Organizations from various Industries to share the ECR in order to avoid fraudulent hires.</li>
                  <li>
                    Online Record of Ex employees of the company</li>
                  <li>
                    Online attrition analysis of the origination</li>
                  <li>
                    Industry Comparative Exit Analysis – Industry Trend</li>
                  <li>
                    Discipline in the exit process and F&amp;F</li>
                  <li>
                    Employees will serve proper notice period and not run away</li>
                  <li>
                    Knowledge of Industrial Relations of the employee (Disciplinary/Conciliation/court matters)</li>
                </ul>
                <p>
                  <strong>About Us</strong><br/><br/>
                  ECR is a product of&nbsp; <strong>Wide Window Pvt. Ltd</strong>. which is based at Bangalore. &nbsp;<br>
                  To know more about us please write to us on <strong>ecr@widewindow.co.in
                  </strong> or&nbsp; you can reach us on <strong>9702499759</strong>.<br>
                  Register:<br>
                  To use this system, organization is need to register with us. For registration please <a href="/info/contact">click here</a></p>
              </td>
            </tr>
            </tbody>
          </table>

          </div>
        </div>
        <div class="cleared"></div>
      </div>

      <div class="cleared"></div>
    </div>
  </div>
  </div>
  <div class="cleared"></div>
</div>