<div class="login-section">

<table width="100%" border="0">
  <tr>
    <td width="70%" valign="middle">
      <div style="border: 1px dashed #CCCCCC;padding: 10px;margin-right: 20px">
      <h2 style="font-size:18px">Mrs. Kavita</h2>
      <p>Employee Reference Check</p>
       <br/>
      <table width="100%" border="0">
        <tr>
          <td width="20%">Address:</td>
          <td>Mumbai, Maharashtra - 411014, India
          </td>
        </tr>
        <tr>
          <td>E-mail:</td>
          <td>kavitamadan1999@gmail.com</td>
        </tr>
        <tr>
          <td>Mobile:</td>
          <td>(+91) 9702499759</td>
        </tr>

      </table>
      <br/><br/>
      </div>
    </td>
    <td width="30%"  valign="top" class="register">
      <h2>Write to us</h2>
      <%= render '/enquiries/form' %>

    </td>
  </tr>
</table>
</div>
