<div class="art-layout-cell art-content" >

  <div class="art-post">
    <div class="art-post-body">
      <div class="art-post-inner">
        <h2 class="art-postheader"> <span class="componentheading">Frequently Asked Questions</span></h2>
        <br/><br/>
        <div class="art-postcontent">
          <div class="component-header"></div>


          <div class="fsf_clear"></div>



          <div class="fsf_faqs" id="fsf_faqs">

            <div class="fsf_faq_inline">
              <div class="fsf_faq_question">
                <strong>What's Released During a Background Check?</strong>
              </div>
              <div class="fsf_faq_answer">
                <p style="text-align: justify;">
                  Future employers sometimes do a background check as part of the hiring process, and there's some information that cannot be disclosed without your consent. See what information isn't released during a background check.</p>		</div>
            </div>

            <div class="fsf_faq_inline">
              <div class="fsf_faq_question">
                <strong>Employment History Verification?</strong>
              </div>
              <div class="fsf_faq_answer">
                <p style="text-align: justify;">
                  Your employment history includes all the companies you have worked for, your job titles, the dates of employment and salary earned at each of your jobs. An employment history verification is conducted by an employer to confirm that the employment information included on your resume and/or job application is accurate.</p>		</div>
            </div>

            <div class="fsf_faq_inline">
              <div class="fsf_faq_question">
                <strong>How Employers Conduct Background Checks</strong>
              </div>
              <div class="fsf_faq_answer">
                <p style="text-align: justify;">
                  Employment background checks are being conducted by employers more frequently than in the past. That's for several reasons. Here's why and how employers conduct background checks for employment purposes.</p>		</div>
            </div>

            <div class="fsf_faq_inline">
              <div class="fsf_faq_question">
                <strong>What is a consumer report?  </strong>
              </div>
              <div class="fsf_faq_answer">
                <p style="text-align: justify;">
                  Any written, oral, or other communication of any information by a consumer reporting agency bearing on a consumer's credit worthiness, credit standing, credit capacity, character, general reputation, personal characteristics, or mode of living which is used or expected to be used or collected in whole or in part for the purpose of serving as a factor in establishing the consumer's eligibility for employment purposes.</p>		</div>
            </div>

            <div class="fsf_faq_inline">
              <div class="fsf_faq_question">
                <strong>Can I get Commuter Checks in any denomination?</strong>
              </div>
              <div class="fsf_faq_answer">
                <p>
                  Yes. Commuter Checks are available from $10 up to $125 for transit and from $5 to $240 for parking (including cents), per month.</p>		</div>
            </div>

            <div class="fsf_faq_inline">
              <div class="fsf_faq_question">
                <strong>Where can I redeem Commuter Checks to buy my transit tickets?</strong>
              </div>
              <div class="fsf_faq_answer">
                <p style="text-align: justify;">
                  In addition to transit agency operated ticket windows, most other outlets that sell local transit tickets accept Commuter Check. Contact your local transit operator for a complete list of locations as these are updated frequently.</p>		</div>
            </div>
          </div>

            <div class="cleared"></div>
        </div>
        <div class="cleared"></div>
      </div>

      <div class="cleared"></div>
    </div>
  </div>

  <div class="cleared"></div>
</div>
<br/><br/><br/>