
        <table cellspacing="0" cellpadding="0" border="0" style="margin:0;width:100%; color:#ffffff;" class="art-article">
          <tbody>
          <tr class="even">
            <td style="padding:10px;width:250px; background-color:#54617E;">
              <h4 style="color:#ffffff;">
                <img width="70" height="70" style="float:left;" src="/images/idea.png" alt="">Advertisement</h4>
              <p>
                Wish to advertise your products please click</p>
              <p>
                <a href="/info/advertise"><span class="art-button-wrapper"><span class="art-button-l"> </span><span class="art-button-r"> </span><input type="button" value="More" name="More" class="art-button"></span></a></p>
            </td>
            <td style="padding:10px;width:250px; background-color:#7B9308;">
              <h4 style="color:#ffffff;">
                <img width="70" height="70" style="float:left;" src="/images/time.png" alt="">Help</h4>
              <p>
                Facing problem in the system. Please click</p>
              <p>
                <a href="/info/help"><span class="art-button-wrapper"><span class="art-button-l"> </span><span class="art-button-r"> </span><input type="button" value="More" name="More" class="art-button"></span></a></p>
            </td>
            <td style="padding:10px;width:250px; background-color:#5A99B5;">
              <h4 style="color:#ffffff;">
                <img width="70" height="70" style="float:left;" src="/images/report.png" alt="">Career with us</h4>
              <p>
                Please share your CV on<br>
                ecrjob@widewindow.co.in</p>
              <p>
                <a href="/info/career"><span class="art-button-wrapper"><span class="art-button-l"> </span><span class="art-button-r"> </span><input type="button" value="More" name="More" class="art-button"></span></a></p>
            </td>
            <td style="padding:10px;width:250px; background-color:#E4B328;">
              <h4 style="color:#ffffff;">
                <img width="70" height="70" style="float:left;" src="/images/coffee.png" alt="">Our Associates</h4>
              <p>
                List of companies using this system.</p>
              <p>
                <a href="/info/associate"><span class="art-button-wrapper"><span class="art-button-l"> </span><span class="art-button-r"> </span><input type="button" value="More" name="More" class="art-button"></span></a></p>
            </td>
          </tr>
          </tbody>
        </table>


        <div class="art-article"><table width="100%" cellspacing="1" cellpadding="1" border="0">
          <tbody>
          <tr>
            <td style="padding: 20px; width: 35%; vertical-align: top;">
              <div style="font-size: 21px;">
                About Us</div>
              <p>
                <img style="width: 232px; height: 114px; border: 2px solid rgb(153, 153, 153);" src="/images/s4%20copy.jpg" alt=""></p>
              <p style="text-align: justify;">
                Every organization strives to recruit a good resource, investing both time & money, to enhance their productivity.</p>
              <p>
                Many a times, candidates with questionable employment history are hired & the employer realizes the error in judgment...</p>
              <p>
                <a href="/info/about/">Read More</a></p>
            </td>
            <td style="padding: 20px; width: 35%; vertical-align: top;">
              <div style="font-size: 21px;">
                Resource that helps Employer</div>
              <ul>
                <li style="text-align: justify;">
                  Platform for Organizations from various Industries to share the ECR in order to avoid fraudulent hires.</li>
                <li style="text-align: justify;">
                  Online Record of Ex employees of the company</li>
                <li style="text-align: justify;">
                  Online attrition analysis of the origination</li>
                <li style="text-align: justify;">
                  Industry Comparative Exit Analysis &ndash; Industry Trend</li>
                <li style="text-align: justify;">
                  Discipline in the exit process and F&F</li>
                <li style="text-align: justify;">
                  Employees will serve proper notice period and not run away</li>
                <li style="text-align: justify;">
                  Knowledge of Industrial Relations of the employee (Disciplinary/Conciliation/court matters)</li>
              </ul>
              <p>
                <a href="/info/about">Read more about the system</a></p>
            </td>
            <td style="padding: 20px; width: 30%; vertical-align: top;">
              <div style="font-size: 21px;">
                Start using our system</div>
              <p>
                <img style="width: 232px; height: 114px; border: 2px solid #999999;" src="/images/s9%20copy.jpg" alt=""></p>
              <p style="text-align: justify;">
                Employee Credential Report is a platform where organizations from various industries are coming together and maintain the record of their exit employees online.</p>
              <p>
                <a href="/enquiries/new"><span class="art-button-wrapper"><span class="art-button-l"> </span><span class="art-button-r"> </span><input type="button" value="Enquire for an account" name="Enquire for an account" class="art-button"></span></a></p>
            </td>
          </tr>
          </tbody>
        </table>

        </div>
